---
import TableHeadings from "../../components/TableHeadings.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="table demo">
  <h1>Tables</h1>
  <TableHeadings />
</Layout>
