---
---

<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li>
        <a href="/demos/tables">Tables Demo</a>
      </li>
    </ul>
  </nav>
</header>
<style lang="scss">
  header {
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  nav {
    display: inline-flex;
    width: 100%;
    margin: auto auto auto auto;
  }
  ul,
  li {
    display: flex;
    list-style: none;
    height: 100%;
    margin: 1em auto 1em auto;
  }
  ul {
    width: 100%;
  }
</style>
