---
import NotesPanel from "./NotesPanel.astro";

---

<h2>Table with standard column and row headings</h2>
<table>
    <thead>
        <th>&nbsp;</th>
        <th>Heading C1</th>
        <th>Heading C2</th>
        <th>Heading C3</th>
    </thead>
    <tbody>
        <tr>
            <th>Heading R1</th>
            <td>Value A</td>
            <td>Value B</td>
            <td>Value C</td>
        </tr>
        <tr>
            <th>HEading R2</th>
            <td>Value D</td>
            <td>Value E</td>
            <td>Value F</td>
        </tr>
    </tbody>
</table>
<NotesPanel>
    <div>note1</div>
    <div>note2</div>
</NotesPanel>
<div>
<h2>Table with blank first cell</h2>
<table>
    <thead>
        <td>&nbsp;</td>
        <th>Heading C1</th>
        <th>Heading C2</th>
        <th>Heading C3</th>
    </thead>
    <tbody>
        <tr>
            <th>Heading R1</th>
            <td>Value A</td>
            <td>Value B</td>
            <td>Value C</td>
        </tr>
        <tr>
            <th>HEading R2</th>
            <td>Value D</td>
            <td>Value E</td>
            <td>Value F</td>
        </tr>
    </tbody>
</table>
</div>